
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

li {
    list-style: none;
}
a{   
    text-decoration: none;
    color: #000;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    
   
}
.logo {
    flex: 1;
    
}
.logo img {
    width: 100%;
}
.menu {
    flex: 3;
    display: flex;
    position: relative;
    margin-left: 40px;
}
.menu > li,.other > li {
    padding: 0 12px;
}
.menu > li a{
    font-size: 16px;
}

.menu-item{
    position:relative;
    z-index: 10;
}
.menu >li:hover .sub-menu{
    display:block;
}

.sub-menu{
    /* right:-20px; */
    position:absolute;
    width: 120px;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    background-color: #fff;
}

.sub-menu li{
    padding: 4px;
    border-bottom: 1px solid #ccc;
}
.search{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    /* padding: 20px; */
}
.other {
    display: flex;
    text-align: center;
    /* padding: 20px; */

}





/* /tab ui/ */
.tab-item {
    min-width: 80px;
     padding: 5px 10px 0 10px;
    text-align: center;
    color: #c23564;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    /* opacity: 0.6; */
    cursor: pointer;
    transition: all 0.5s ease;
  }


.line{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 15px;
    background-color: #c23564;
    transition: all 0.2s ease;
  }

  .tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
  }
  .tab-item.active {
    opacity: 1;
  }


/* Search */

.search-box{
    background-color: #000;
    position: relative;
    width: 40px;
    border-radius: 15px;
    overflow: hidden;
    padding-right: 0;
    transition:all 0.5s ease;
}
.search-box__input{
    width: 100%;
    /* width: 100%; */
    height:20px;
    background: transparent;
    color: #fff;
    outline: none;
    border:none;
    /* padding: 10px; */
    padding-left: 8px;padding-right:45px;
}
.search-box__btn{
    position: absolute;
    right: 0;
    top: 0px;
    /* font-size: 22px; */
     width: 40px;  
    /* height: 40px;  */
    height:20px;
    border:none;
    outline: none;
    cursor: pointer;
}
.search-box.open{
    width: 200px;
}

.other > li:first-child {
    padding:0 10px; 
    position: relative;
}



/* .other > li:first-child input {
    border: none;
    border-bottom: 1px solid #333;
    width: 100%;
} */

/* .other > li:first-child i{
    position: absolute;
    right: 10px;
} */
.product__seemore{
    padding:20px 0;
    text-align:center;
} 
 .product__seemore button{
    padding: 10px 20px;
    background-color: #000;
    border: 1px solid #ccc;
} 
.product__seemore a{
    color: #fff
} 
 .product__seemore button:hover{
    background-color: #ccc;
    cursor: pointer;
} 
 


/* slider */
.swiper {
   height:800px
}

.swiper-slide{
    display: flex;
    justify-content: center;
}

.swiper-slide img{
    width: 100%;
    align-items: center;
}
  
/* 
    FOOTER
*/
.footer{
    /* margin-top:30px; */
}
.footer-top {
    background-color:#f3f3f3;
    padding:22px;   
}
.footer-top p{
    margin-left: 103px;
    font-size: 18px;
}
.footer-top i{
    padding: 10px;
}
.footer-top a{
    color: red;

}
.footer-bottom{
    margin-top:26px;
    justify-content: space-evenly;
}
.footer-bottom h3{
    font-size: 24px;
    margin-bottom: 8px;
}
.footer-bottom p{
    opacity: 0.8;
    padding:4px;
}
.footer-bottom-column-three i{
    margin-right: 6px;
}



/* CATEGORY */
.category{
    /* padding-top: 50px; */
}


.row{
    display: flex;
    flex-wrap: wrap;
}
.container-top {
    margin-bottom: 50px;
    background-color:  #f5f5f5;
    padding-left: 80px;
}

.container-top p, .container-top span{
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.category-left{
    width:20%;
    padding-left: 80px;
}

.category-right{
    width: 80%;
    padding-left: 80px;
    padding-right:50px;
}

.category-right-top-item:first-child{
    flex:2;
    font-weight: bold;
    font-size:24px;
}

.category-right-top-item{
    flex:1;
    padding: 0 12px;
}

.category-right-top-item button{
    width:100%;
    padding: 10px 15px;
    display:flex;
    justify-content:space-between;
    padding: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.category-right-top-item select{
    width:100%;
    padding: 10px 12px;
    display:flex;
    justify-content:space-between;
    padding: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.category-right-content{
    display: flex;
    flex-wrap: wrap;
    margin-top:16px;
    justify-content: space-between;
}

.category-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}

.category-right-content-item img:hover{
    opacity: 0.7;
    cursor: pointer;
}

.category-right-content-item img{
    width: 100%;
}

.category-right-content-item h1{
    font-size:16px;
    margin-top:6px;
}

.category-right-bottom{
    text-align: center;

}

.category-right-bottom-items{
    display: inline-block;
    margin:30px 0;
}
.category-right-bottom-items a{
    font-size: 16px;
}
.category-left .category-left-list{
    padding: 8px 0;
}

.category-left .category-left-list > a{
    font-weight:bold;
    font-size: 18px;
}

.category-left .category-left-list ul li {
    padding-left: 16px;
    opacity: 0.6;
    font-size: 16px;
    padding:6px;
}

.category-left .category-left-list ul{
    display:none;
}

.category-left .category-left-list.block ul{
    display:block;
}

/* PRODUCT */
.product{
    padding: 20px 0 50px 0;
}

.product-top {
    margin-bottom: 50px;
    background-color:  #f5f5f5;
    padding: 12px 0  12px 80px ;
}

.product-top p, .product-top span{
    padding:4px;
}

.product-content{
    padding-left: 86px;
}
.product-content-left, .product-content-right{
    width: 50%;
}

.product-content-left-small-img {
    width: 20%;
}
.product-content-left-small-img img{
    width: 100%;
}

.product-content-left-big-img {
    width: 80%;
    padding-left: 20px;
    position: relative;

}
.product-content-left-big-img img{
    width: 100%;
}
.control{
    position: absolute;
    top:45%;
    font-size:50px;
    color:#fff;
    transform:translateY(-50%);
}
.prev{
    left:30px;
   cursor: pointer;
}
.next{
    right:10px;
   cursor: pointer;

}

.active{
    opacity:0.6;
}

.borderbottom{
    border-bottom: 1px dotted #dfe0e1;
    padding: 0 0 10px;
    
}
.product-content-right{
    padding:0 32px;
}
.product-content-right-name h2{
    font-weight: 700;
    margin: 0 0 5px;
    line-height: initial;
}
.product-content-right-name p{
    font-size: 12px;
    color: #a3a5a7;
}

.product-content-right-price{
    padding-top: 18px;
}
.product-content-right-price p{
    font-size: 18px;
    opacity: .92;
    font-weight: bold;
    color: red;
}
.product-content-right-color{
    padding-top: 5px;
    padding-left: 4px;
}
.product-content-right-color-img {
    height:40px;
    width: 40px;
    border:1px solid #333;
    display:flex;
    align-items: center;
    justify-content: center;
}
.product-content-right-color-img img{
    width: 30px;
    height:30px;
    border-radius: 50%;
    margin:12px 0;
}
 
.product-content-right-size {
    padding-top: 13px;
}
.size{
    margin-left: -9px;
}

.elementsize{
    width: 50px;
    margin-left: 12px;
    cursor:pointer;
    display: inline-block;
    padding:10px 10px;
    text-align: center;
    border:1px solid rgb(238, 236, 236);
}
.subspan{
    background-color: #000 ;
    color: #fff ;
}
.quantity{
    /* width:30px; */
    margin-top:10px ;
    padding-left:4px;
}
.quantity input{
    width: 40px;
    margin-left:2px;
}
.product-content-right-button{
    padding-left:4px;
    margin-top:16px;
}
.product-content-right-button button{
    width: 458px;
    height:52px;
    border:none;
    background-color: #b5bdbd;
    color: #fff;
    border-color: #b5bdbd;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: none;  
    cursor: pointer;
}

.product-content-right-container{
    padding: 10px 0 4px 10px;
}
.product-content-right-container h2{
    font-size: 20px;
    padding-bottom: 10px;
}
.product-content-right-container li{
    list-style: decimal;
    margin-left: 4px;
}
.product-content-right-container p{
    line-height:20px;
}

/* product related */
.product-related{
    margin-top:50px;
    padding:0 85px;
}
.product-related-title{
    margin:40px 0;
    text-align: center;
}
.product-related-title p{
    font-size: 28px;
    font-weight:bold;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 500;
    color: #000000;
}

.product-related-content-items{
    width: 20%;
    text-align: center;
    padding:0 12px;
}

.product-related-content-items img{
    width: 100%;
}
.product-related-content-items h1{
    margin-top:6px;
    font-size:16px;
}
.product-related-content-items p{
    margin-top:2px;
    font-size:14px;
}
.product-related-content-items img:hover{
    opacity: 0.6;
    cursor: pointer;
}

/* Cart */
.cart-top {
    margin-bottom: 50px;
    margin-top: 20px;
    background-color:  #f5f5f5;
    padding: 12px 0  12px 80px ;
}

.cart-top p, .cart-top span{
    padding:4px;
}
.container-cart{
    max-width: 1200px;
    margin:auto;
}
.container-fluid{
    padding: 35px 0 50px;
}
.heading-page{
    position: relative;
    text-align: center;
    padding: 0 0 30px 0;
}
.header-page h1{
    font-size: 30px;
    margin: 0 0 10px;
}
.heading-page::after{
    content: "";
    background: #252a2b;
    display: block;
    width: 60px;
    height: 4px;
    margin: 25px auto 0;
}

.container-cart-left{
    flex:2;
    padding-right: 12px;
}
.container-cart-left table{
    width: 100%;
    text-align: center;
}
.container-cart-left table th{
    padding-bottom: 30px;
    font-size:12px;
    text-transform: uppercase;
    color:#333;
    border-collapse: collapse;
    border-bottom: 2px solid #ddd;
}
.container-cart-left p {
    font-size: 16px;
    color:#333;
}
.container-cart-left input{
    width: 40px;
    text-align: center;
}
.container-cart-left table span{
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    cursor:pointer;
}
.container-cart-left td:first-child img{
    width: 130px;
}
.container-cart-left table td{
    padding: 20px 0; 
    border-bottom: 2px solid #ddd;
}
.container-cart-left td:nth-child(2){
    max-width: 130px;
}

.container-cart-right{
    flex:1;
    padding:0 12px 12px 12px;
    height:100%;
    border:2px solid #ddd;
}
.container-cart-right table{
    width: 100%;
}
.container-cart-right th{
    /* padding-bottom: 30px; */
    padding: 20px;
    color: #333;
    border-bottom: collapse;
    border-bottom: 2px solid #ddd;
    font-size:24px;
}
.container-cart-right td{
    padding: 6px 0;
    font-size: 16px;
}
.container-cart-right tr:nth-child(3) td{
    border-bottom:2px solid #ddd;
}
.container-cart-right tr td:last-child{
    text-align: right;
    padding-right:20px;
}
.container-cart-right-text{
    margin: 20px 0;
    text-align: left;
}
.container-cart-right-button button:first-child{
    width: 100%;
    padding:16px 0;
    border: none;
    background-color: #e00707;
    color: #fff;
    cursor: pointer;
    font-size:16px;
    border-radius: 4px;
}
.container-cart-right-button button:first-child:hover{
    background-color: #fff;
    color: #000;
    border:2px solid rgb(223, 13, 13);
    
}
.container-cart-right-button button:last-child{
    border: none;
    width: 100%;
    padding:12px 0;
    background-color: #fff;
    cursor: pointer;
    margin-top:4px;
    color: #b5bdbd;
    font-size:16px;
}
.container-cart-right-button button:last-child:hover{
    color: #000;
}
.container-cart-right-button i{
    padding: 0 4px;
}
.container-cart-right-signin{
    font-size:14x;
    color:#333;
    font-weight: bold;
}

.container-cart-left-text{
    padding: 16px 0 30px 0;
}
.container-cart-left-text h3{
    font-size:16px;
    color: #666666;
    font-weight: 700;
    margin-bottom: 10px;
}

.container-cart-left-text li{
    display: block;
    line-height: 25px;
    position: relative;
    padding-left: 20px;
    
}
.container-cart-left-text li:before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    content: "\f178";
    font-size: 10px;
    left: 0;
    opacity: 1;
    position: absolute;
}

/* DELIVERY */
.delivery{
    padding: 0 0 100px 0;
}
.delivery-content{
    max-width:1200px;
    margin:auto;
}
.header-delivery{
    padding-bottom: 12px;
}
.breadcrumb{
    margin-top:6px;
}
.breadcrumb-item{
    display: inline-block;
    font-size: 0.85714em;
    color: #999999;
}
.breadcrumb-item-current{
    font-weight: 500;
    color: #4d4d4d;
    font-size:16px;
}
.breadcrumb-item a{
    text-decoration: none;
    color: #338dbc;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    font-size:16px;
}
.breadcrumb-item::after{
    content: "";
    display: inline-block;
    width: 6px;
    height: 11px;
    vertical-align: middle;
    margin: 0 0.5em;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjExIiBvcGFjaXR5PSIuNCIgZmlsbD0iIzAwMCI+PHBhdGggZD0iTS41MjYgMS40MDhsNCA0LjY0NS4wMTQtLjgzLTQgNC4zNTQuOTIuODQ2IDQtNC4zNTYuMzc2LS40MS0uMzYyLS40Mi00LTQuNjQ1LS45NDguODE2eiIvPjwvc3ZnPg==),none;
}
.content-delivery-header , .content-delivery-header-text{
    margin-bottom: 6px;
}
.delivery-content-left{
    width: 60%;
    padding-right: 12px;
}


.delivery-content-left-input-top{
    justify-content: space-between;
}
.delivery-content-left-input-top-item{
    width: calc(50% - 12px);
}
.delivery-content-left-input-top-item input{
    width: 100%;
    height:35px;
    border:1px solid #ccc;
    padding-left: 6px;;
}
.delivery-content-left-input-bottom input{
    width: 100%;
    height:35px;
    border:1px solid #ccc;
    padding-left: 6px;;
}

.delivery-content-left-button p{
    font-size:16px;
    display: inline-block;
}
.delivery-content-left-button span{
    margin-right:8px ;
}
.delivery-content-left-button{
    justify-content:space-between;
    padding-top:12px;
}

.delivery-content-left-button button{
    height:35px;
    border:2px solid black;
    cursor: pointer;
    padding: 6px 12px;
}

.delivery-content-left-button button:hover{
    background-color: #ccc;
    color:#fff;
}
.delivery-content a{
    text-decoration: none;
    color: #338dbc;
    transition: color 0.2s ease-in-out;
    display: inline-block;
}

.delivery-content-right{
    width: 40%;
    padding-left: 12px;
    height: auto;
    border-left: 2px solid #ddd;
}
.delivery-content-right tr th:first-child{
    text-align: left;
}
.delivery-content-right table{
    width: 100%;
    text-align: center;
}
.delivery-content-right table tr th{
    padding-bottom: 12px;
    border-bottom: 2px solid #ccc;
}
.delivery-content-right table tr th:last-child{
    text-align: right;
}
.delivery-content-right table tr td{
    padding: 6xp 0;
}
.delivery-content-right table tr td:last-child{
    text-align: right
}
.delivery-content-right table tr td:first-child{
    text-align: left;
}







/* <!-- PayMent --> */
.payment-content-left{
    padding-top:20px;
}

.checkout-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #221f20;
    margin-bottom: 18px;
}
.block-border{
    padding: 20px 26px;
    height: 100%;
    position: relative;
    border: 1px solid #e7e8e9;
    border-radius: 32px 0px;
}
.ds__item{
    padding-bottom: 0;
    min-height: 20px;
    display: flex;
    align-items: center;
    padding-left: 22px;
    cursor: pointer;
    margin-top: 24px;
}
.ds__item input{
    margin-right: 6px;
    cursor: pointer;
}
.ds__item img{
    order: none;
    max-width: 100%;
    height: auto;
    margin-left: 2px;
}

/* SIGNUP */
.signup{
    padding: 50px 0 100px 0;
}
.signup-container{
    max-width:1200px;
    margin:auto;
    justify-content:center;
    align-items:center;
}

.signup-left{
    padding-right: 98px;
    width: 50%;
}
.signup-left img{
    width: 100%;
}
.signup-right{
    width: 50%;
    padding-left: 100px;
    border-left: 2px solid #ddd;
    
}
.signup-right h1{
    text-align: center;
}
.form-control{
    width: 100%;
    position: relative;
    margin-top: 40px;
}
.form-control input{
    width: 100%;
    height:40px;
    border:none;
    font-size: 16px;
    border-bottom: 2px solid #adadad;
    outline: none;
}
.form-control span{
    border-bottom: 2px solid #2691d9;
    position:absolute;
    width: 0%;
    top: 38px;
    left: 0;
    transition:0.3s;
}
.form-control input:focus ~ span{
    width: 100%;
}
.form-control.error small{
    color: #e74c3c;
}
.form-control.error input{
    border-bottom: 2px solid #e74c3c;
}
.btn-submit{
    width: 50%;
    height:50px;
    border: none;
    outline: none;
    border-radius:25px;
    font-size:18px;
    font-weight: bold;
    color: #fff;
    background-color: #2691d9;
    margin:25px 0;
    transition:0.3s;
}
.btn-submit:hover{
    background-color: #08609a;
    cursor: pointer;
}
.signup-link{
    text-align: center;
}

.signup-link a{
    color: #2691d9;
    cursor: pointer;
}
.signup-link a:hover{
    text-decoration: underline;
}


/* Contact form */

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #b3b3b3;
}

section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:50%;
    height: 100%;
    background: #EE4D2D;
}

section .container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display:flex;
    z-index: 100;
}

section .container .containerinfo{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: rgb(61, 167, 209);
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
}

section .container .containerinfo h2{
    color: #fff;
    font-size: 24px;
    margin: 20px 0;
}
section .container .containerinfo li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

section .container .containerinfo li span{
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
    font-size: 20px;
}

section .container .containerinfo li:hover span{
    opacity: 1;
}


section .container .containerinfo .sci{
    position: relative;
    display:flex;
}

section .container .containerinfo .sci li{
    list-style: none;
    margin-right: 15px;
}


section .container .containerinfo .sci li a{
    text-decoration: none;
    opacity: 0.5;
    color: #fff;
    font-size: 32px;
}

section .container .containerinfo .sci li:hover a{
    opacity: 1;
}

section .container .containerForm{
    position: absolute;
    padding: 70px 50px;
    background: #fff;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}

section .container .containerForm h2{
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}

section .container .containerForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

section .container .containerForm .formBox .inputBox{
    position: relative;
    margin: 0 0 35px 0;
}

section .container .containerForm .formBox .inputBox.w50{
    width: 47%;
}

section .container .containerForm .formBox .inputBox.w100{
    width: 100%;
}

section .container .containerForm .formBox .inputBox input,
section .container .containerForm .formBox .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    resize: none;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

section .container .containerForm .formBox .inputBox textarea{
    min-height: 120px;
}

section .container .containerForm .formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: #EE4D2D;
    color: #fff;
    border: none;
    max-width:200px;
    padding: 12px;
    margin-left: 225px;
}

section .container .containerForm .formBox .inputBox input[type="submit"]:hover{
    background:  #ff568c;
}

section .container .containerForm .formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    /* transition: 0.5s; */
    pointer-events: none;
}

section .container .containerForm .formBox .inputBox input:focus ~ span,
section .container .containerForm .formBox .inputBox textarea:focus ~ span,
section .container .containerForm .formBox .inputBox input:valid ~ span,
section .container .containerForm .formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c
}

