*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    height: 100px;
    width: 100vw;
    border-bottom: 2px solid #ccc;
    text-align: center;
}
.admin-content{
    padding-top:50px;
    display:flex;
}
.admin-content-left{
    background-color: #dddddd;
    height:100vh;
    width: 20%;
    padding:30px 0 0 12px
}
.admin-content-left > ul >li >a{
    font-weight: bold;
    font-size:20px;
}
.admin-content-left ul li{
    margin:6px 0;
}
.admin-content-left ul ul {
    margin-left: 18px;
    
}
.admin-content-right{
    width: 80%;
    padding:30px 0 0 12px;
}
.admin-content-right-category--add input{
    height:30px;
    width: 200px;
    padding-left:12px;
    margin-top: 20px;
}
.admin-content-right-category--add button{
    display:block;
    margin-top:10px;
    height:30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color:#fff;
    transition:all 0.3s ease;
}
/* cartegory list */
.admin-content-right-category--list table{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.admin-content-right-category--list table tr th,td{
    border: 1px solid #ddd;
}
table{
    border-collapse:collapse ;
}

.admin-content-right-category--add button:hover{
    background-color:transparent;
    border: 1px solid brown;
    color:brown;
}

.admin-content-right-product--add input,select{
    width: 200px;
    height: 30px;
    display: block;
    margin: 6px 0 12px;
    padding-left: 12px;
}
.admin-content-right-product--add button{
    display:block;
    margin-top:10px;
    height:30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color:#fff;
    transition:all 0.3s ease;
}
.admin-content-right-product--add h1{
    margin-bottom: 20px;
}

